* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  border-top: 3px;
}

.card {
  width: 150px;
  height: 150px;
}

.bt {
  border-top: solid 3px;
}

.br {
  border-right: solid 3px;
}
